<% content_for :title, "Cap Vauban: " + @flat.name %>

<div class="banner" style="background-image: linear-gradient(-210deg, rgba(0,10,58,0.6) 100%, rgba(0,10,10,0.2) 70%), url('<%= image_path '@flat.picture'%>');">
</div>

<div class="container">
  <div class="row">
    <h4><%= @flat.name %></h4>
    <p><%= @flat.description %></p>
  </div>
</div>
