<% content_for :title, "Cap Vauban" %>

<div class="banner" style="background-image: linear-gradient(-210deg, rgba(0,10,58,0.6) 100%, rgba(0,10,10,0.2) 70%), url('<%= image_path ''%>');">
  <div class="banner-content">
    <h1>Cap Vauban</h1>
    <p>2 beautiful flats within 5min walk from Antibes port</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="text-center">
      <%= image_tag "Monitor-icon.png" %>
      <h4>La mer</h4>
      <p>1 Bedroom</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
     <div class="text-center">
      <%= image_tag "Cash-icon.png" %>
      <h4>Le port</h4>
      <p>2 Bedrooms</p>
    </div>
  </div>
</div>

<%= link_to "Discover all our flats", root_path %>
