<div class="container-fluid footer">
  <div class="row text-center">
    <ul class="list-inline">
      <li>HOME</li>
      <li>CONTACT</li>
      <li>FLATS</li>
    </ul>
  </div>
  <div class="row text-center">
  <p>Sign up for special offers</p>
    <form class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" id="offers-email" placeholder="example@domain.com">
      </div>
      <button type="submit" class="btn btn-primary" id="offers-button">Save</button>
    </form>
    </div>
  </div>
  <div class="row credits footer">
    <div class="col-xs-12">
      <p>Website designed by <a href="https://littmannj.github.io/profile/">Jimmy</a> &amp; <a href="https://arthur-littm.github.io/profile/">Arthur</a> Littmann</p>
    </div>
  </div>
</div>
